table,
th,
td {
  border: 1px solid;
  margin-bottom: 12px;
}

th {
  padding: 0.2rem 1rem;
}

td {
  padding: 0 0.4rem;
}

.horizontal-scroll {
  overflow-x: scroll;
  max-width: 100vw;
  position: relative;
}

caption {
  display: block;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

th {
  text-align: left;
  padding-right: 1rem;
}

button {
  margin-top: 1rem;
}

.highlight {
  background-color: green;
}
